/*.sublime-*
/Configuration.Mod
/Configuration.Make
/build/*
/*.exe
/*.obj
/*.[cho]
/*.lib
/*.map
/*.sym
/*.asm
/*.mod
/olang
/src/test/**/*.exe
/src/test/**/*.c
/src/test/**/*.h
/src/test/**/*.o
/src/test/**/*.obj
/src/test/**/*.sym
**/*.stackdump
/src/test/confidence/**/input
/src/test/confidence/**/result
/src/test/confidence/**/result-*
/src/test/confidence/**/*.asm
/src/test/confidence/**/*.s
/src/test/confidence/**/*.map
/.DS_store
**/.DS_store
**/*.dSYM
**/.tmp.*
/*.pdb
/*.ilk
