/*.sublime-*
/Configuration.Mod
/Configuration.Make
/build/*
/*.exe
/*.obj
/*.o
/*.lib
/*.map
/olang
/src/test/**/*.exe
/src/test/**/*.c
/src/test/**/*.h
/src/test/**/*.o
/src/test/**/*.obj
/src/test/**/*.sym
/src/test/**/*.stackdump
/src/test/confidence/**/result
/src/test/confidence/**/*.asm
/src/test/confidence/**/*.s
/.DS_store
**/.DS_store
**/*.dSYM
**/.tmp.*
/*.pdb
/*.ilk
