/*.sublime-*
/Configuration.Mod
/Configuration.Make
/build/*
/install/*
/*.exe
/*.obj
/*.[cho]
/*.lib
/*.map
/*.sym
/*.asm
/*.mod
/Errors.Txt
/Errors.txt
/olang
/src/test/**/*.exe
/src/test/**/*.c
/src/test/**/*.h
/src/test/**/*.o
/src/test/**/*.obj
/src/test/**/*.sym
**/*.stackdump
!/src/test/confidence/**/expected
/src/test/confidence/**/input
/src/test/confidence/**/result
/src/test/confidence/**/result-*
/src/test/confidence/**/*[^.]*
/src/test/confidence/**/*.asm
/src/test/confidence/**/*.s
/src/test/confidence/**/*.map
/bootstrap/*/SYSTEM.[ch]
/bootstrap/*/Errors.Txt
/bootstrap/*/WindowsWrapper.h
/.DS_store
**/.DS_store
**/*.dSYM
**/.tmp.*
/*.pdb
/*.ilk
/t/*
/triage/BasicTypeSize.md
/triage/Roadmap.md
triage/system/*
tags
voc
